body {
    margin: 0px;
    background-color: rgb(2,0,65);
}

@font-face {
    font-family: fantasy2;
    src: url(https://res.cloudinary.com/dzrimpg5t/raw/upload/v1653248802/Enchanted_Land_qtjcva.otf);
}

* {
    font-family: fantasy2;
    font-size: 105%;
}

.Aflarg {
	font-size: xx-large;
	font-style: italic;
}

.flarg {
	font-size: larger;
	font-style: italic;
}

.fs90 {
    font-size: 90%;
}

.hcp:hover {
    cursor: pointer;
}

.flex {
    display: flex;
}

.fww {
    display: flex;
    flex-wrap: wrap;
}

.fdrow {
    display: flex;
    flex-direction: row;
}

.fdcol {
    display: flex;
    flex-direction: column;
}

.aicen {
    display: flex;
    align-items: center
}

.accen {
    display: flex;
    align-content: center;
}

.jccen {
    display: flex;
    justify-content: center;
}

.sb {
    display: flex;
    justify-content: space-between;
}

.sa {
    display: flex;
    justify-content: space-around;
}

.wauto {
    width: auto;
}

.hauto {
    height: auto;
}

.w100p {
    width: 100%;
}

.w80p {
    width: 80%;
}

.w60p {
    width: 60%;
}

.m10 {
    margin: 10px;
}

.mt30 {
    margin-top: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb30 {
    margin-bottom: 30px;
}

.mlr10 {
    margin-left: 10px;
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.ml50 {
    margin-left: 50px;
}

.mr10 {
    margin-right: 10px;
}

.p10 {
    padding: 10px;
}

.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p5 {
	padding: 5px;
}

.bsbb{
    box-sizing: border-box;
}

.hfmn{
	/* stands for half main, which references homeMainContainer */
	/* TODO, change to 45% of container instead...?? */
	width: 33vw;
}

.rerr{
    color: rgb(132, 29, 0);
}

.rsn{
    resize: none;
}