.hcp:hover {
    cursor: pointer;
}

.textbubble {
    position: absolute;
    left: -10px;
    top: 55px;
    width: 60px;
    height: 25px;
    text-align: center;
    background-color: rgba(0, 177, 183, 0.707);
    border: 1px solid rgb(255, 225, 0);
    border-radius: 10px;
    display: none;
}

.wrapper {
    position: relative;
}

.wrapper:hover .textbubble {
    display: block;
}

.formContainer {
    height: auto;
    width: 400px;
    background-color: rgba(72, 255, 255, 0.387);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 174, 0, 0.638);
    box-shadow: 0 0 40px rgba(88, 0, 188, 0.6);
    padding: 50px 35px;
}

.formContainer * {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.formContainer h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(174, 255, 171, 0.519);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

#loginButton {
    margin-top: 50px;
    width: 80%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e6ff697e;
}

#loginButton:hover,
#loginButton:active {
    color: #080710;
    background-color: #2bff00e4;
}