.homebody {
	background-image: linear-gradient(to top, #80007f, #720080, #640081, #530081, #3f0082, #330784, #240e86, #0a1387, #031d8a, #00258c, #002c8e, #003390);
	height: 100vh;
	width: 100vw;
}

.homeMainContainer {
	display: grid;
	grid-template-columns: 1fr 60vw 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'left' 'center' 'right';

}

.lgrid {
	grid-area: 'left';
}

.cgrid {
	grid-area: 'center';
}

.rgrid {
	grid-area: 'right';
}