/* 
	/////////////////////
	Specifically used in index
*/

.homeContainer {
	/* keeps background color across whole page
	(atm no footer) */
	background: rgb(118,141,255);
	background: linear-gradient(167deg, rgb(118, 253, 255) 0%, rgb(74, 164, 255) 50%, rgb(233, 90, 255) 100%);	height: 100vh;
	width: auto;
	min-width: 100vw;
	height: auto;
	min-height: 100vh;

	display: grid;
	grid-template-columns: 1fr 70vw 1fr;
	/* grid-template-rows: auto; */
	grid-template-areas: 'left' 'center' 'right';
}

.lgrid {grid-area: 'left';}
.cgrid {grid-area: 'center';}
.rgrid {grid-area: 'right';}

/* 
	/////////////////////
	Specifically used in left / right
*/
.sideButton {
	border-radius: 5px;
	margin: 20px;
}

.namePlate{
	background: rgb(97, 242, 255);
	border: 1px solid rgb(116, 0, 110);
	margin: 0px 10px 10px 5px;
	padding: 10px;
	box-shadow: 0px 10px 13px -7px #34005a, 5px 5px 15px 5px rgba(159,0,173,0);
}

/* 
	/////////////////////
	Specifically used in center
*/