.abilImg {
	border: 2px gold;
	max-width: 400px;
	max-height: 400px;
}

.abilImgCarousel{
	width: auto;
	max-width: 60px;
	height: auto;
	max-height: 60px;
}

.abilDetImg {
	border: 1px gold;
	max-width: 400px;
	max-height: 600px;
}

.abilDetName {
	background: rgb(255, 195, 255);
	border: 2px gold;
	width: 200px;
	height: 30px;
}

.abilDetInt {
	background-color: rgb(255, 133, 231);
	border: 1px gold;
	width: 200px;
	min-height: 50px;
}

.abilDetSec {
	background-color: aqua;
	border: 1px gold;
	width: 200px;
	height: 80px;
}

.AdataStripe1{
	background: rgb(255, 195, 255);
	border: 2px solid rgb(255, 198, 106);
	width: 33vw;
	/* 1/2ish of 70vw main body */
	height: 70px;
}

.AdataStripe1t{
	background: rgb(255, 195, 255);
	border: 2px solid rgb(255, 198, 106);
	width: 33vw;
	/* 1/2ish of 70vw main body */
	height: 90px;
}

.AdataStripe2{
	background-color: rgb(245, 132, 255);
	border: 2px solid rgb(255, 207, 33);
	width: 33vw;
	/* 1/2ish of 70vw main body */
	height: 80px;
}

.AdataStripe2t{
	background-color: rgb(245, 132, 255);
	border: 2px solid rgb(255, 207, 33);
	width: 33vw;
	/* 1/2ish of 70vw main body */
	height: 95px;
}

.AdataStripe3{
	background: rgb(255, 195, 255);
	border: 2px dashed gold;
	width: 33vw;
	/* 1/2ish of 70vw main body */
	height: 70px;
}

.w40p {
	width: 40%;
}

.w50p {
	width: 50%;
}

.w70p {
	width: 70%;
}

.w90p {
	width: 90%;
}

.h80p {
	height: 80%;
}

.AbottomSpan {
	background: rgb(255, 175, 255);
	border: 2px solid gold;
	width: 90%;
	height: auto;
}

.confirmShadow {
	box-shadow: 0px 5px 10px 0px rgba(0, 94, 0, 0.913);
}

.cancelShadow {
	box-shadow: 0px 5px 10px 0px rgba(94, 0, 0, 0.913);
}

.editIntro {
	height: auto;
}

.abilIntro {
	width: 95%;
	word-wrap:break-word;
	background-color: rgba(234, 180, 251, 0.913);
	border: 2px solid gold;
}

.abilDisplay{
	display: flex;
	flex-flow: row;
	max-width: 70vw;
	flex-wrap: wrap;
	border: 1px solid rgb(255, 208, 0);
	margin: 10px;
}

.abilFrame{
	border: 1px solid rgb(255, 208, 0);
	background: rgb(255, 195, 255);
	width: 140px;
	height: 140px;
	margin: 5px 0px 5px 5px;
	box-shadow: 0px 10px 15px -5px #34005a, 5px 5px 15px 5px rgba(159,0,173,0);
}

.abilFrameImg{
	max-width: 110px;
	max-height: 140px;
}

